body {
    margin:0;
    padding:0;
    display:block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Hind', Open Sans, sans-serif;
}

li {
    list-style: none;
    display: block;
    padding: 6px;
    color:#1A135A;
}

li:hover {
    font-weight: 700;
    font-size: 19px;
}

.liactive {
    border-bottom: 3px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 0rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-logo {
    width: 275px;
}
.nav-menu a {
    float: left;
    display: block;
    color: #1A135A;
    align-items: center; 
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase; 
    display: inline-flex;
    border-bottom: 3px solid transparent;
    word-wrap: break-word;
}
.nav-menu a:hover {
    border-bottom: 3px solid #565272;
    color:#565272;
    text-decoration: none;
}
.nav-menu a.active {
    border-bottom: 3px solid #1A135A;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}
.bullet:before {
    content : "\2022";
    padding-right: 6px;
}

.breadcrumb {
    padding-bottom: 6px;
    padding-top: 6px;
    list-style: none;
    }
    
.breadcrumb-item {
    display: inline;
    font-size: 16px;
}
  
.breadcrumb li+li:before {
    padding: 6px;
    color: #1A135A;
    content: "/";
}
  
.breadcrumb-item a {
    color: #1A135A;
    text-decoration: none;
}
  
.breadcrumb-item a:hover{
    color: #565272;
}

header {
    height: 9rem; 
    width: 94%;
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: linear-gradient(90deg, #E2E6F2 0%, #D1EBEE 25%, #E9E0F2 50%, #E2E6F2 76%, #EBF3DE 100%); 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex;
}
.footer {
    width: 100%; 
    height: 20rem;  
    padding-top: 24px; 
    padding-bottom: 24px;
    background: linear-gradient(90deg, #E2E6F2 0%, #D1EBEE 25%, #E9E0F2 50%, #E2E6F2 76%, #EBF3DE 100%); 
    justify-content: space-between; 
    align-items: center; 
    align-content: center; 
    display: inline-flex;
}
.footerbar {
    width: 95%; 
    height: 100%; 
    padding-top: 24px; 
    padding-bottom: 24px; 
    justify-content: space-between; 
    align-content: center; 
    align-items: center; 
    gap: 24px; 
    display: inline-flex;
}
.contact-column {
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    align-content: center;
    display: inline-flex;
}
.copyright {
    width: 94%;
    height: 100%;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    word-wrap: break-word
}
.copyright-font {
    color: #1A135A; 
    font-size: 20px; 
    font-family: Open Sans; 
    font-weight: 400; 
    word-wrap: break-word;
}
section {
    width: 100%;
}
img {
    width: 100%;
    height:auto;
}
ul {
    display: block;
    list-style-type: none;
    float: right;
    padding-inline-start: 24px;
    font-family: Hind; 
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
h1 {
    color: #1A135A; 
    font-size: 60px; 
    font-family: Hind; 
    font-weight: 700; 
    word-wrap: break-word;
    display: block;
    margin: 0px;
}
h2 {
    color: #1A135A; 
    font-size: 36px; 
    font-family: Hind; 
    font-weight: 600; 
    line-height: 48px; 
    word-wrap: break-word;
}
h3 {
    color: #1A135A; 
    font-size: 30px; 
    font-family: Hind; 
    font-weight: 600; 
    line-height: 38px;
     word-wrap: break-word;
}
h4 {
    color: #1A135A; 
    font-size: 24px; 
    font-family: Open Sans; 
    font-weight: 400; 
    word-wrap: break-word;
    display: block;
}
h5 {
    color: #1A135A; 
    font-size: 20px; 
    font-family: Hind; 
    font-weight: 500; 
    line-height: 28px; 
    word-wrap: break-word;
}
h6 {
    color: #1A135A; 
    font-size: 48px; 
    font-family: Hind; 
    font-weight: 700; 
    word-wrap: break-word;
    line-height: 70px; 
    display: block;
    margin: 0px;
} 
p {
    font-size: 18px; 
    font-family: Open Sans; 
    font-weight: 400; 
    word-wrap: break-word;
    margin-bottom: 12px;
    color: #565272; 
}
.header {
    width: 100%; 
    max-height: 96px; 
    padding-top: 24px; 
    padding-bottom: 24px; 
    justify-content: space-between; 
    align-items: flex-end; 
    gap: 179px; 
    display: inline-flex;
}

.navbar {
    width: 100%; 
    height: 100%; 
    padding-top: 24px; 
    padding-bottom: 24px; 
    justify-content: space-between; 
    align-items: center; 
    gap: 24px; 
    display: inline-flex;
}
.button-1 {
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: #1A135A; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 100px; 
    border: none;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
    color: white;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    text-decoration: none;
    cursor: pointer;
}
.button-1:hover {
    background: #565272; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}
.button-circle-1 {
    padding:12px; 
    background: #1A135A; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 100%; 
    border: none;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
    color: white;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    text-decoration: none;
    cursor: pointer;

}
.button-circle-1:hover {
    background: #565272; 
}

.button-circle-2 {
    padding:12px; 
    background: #E8E7F0; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 100%; 
    border: none;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
    color: #1A135A;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    text-decoration: none;
    cursor: pointer;

}
.button-circle-2:hover {
    background: #C9C7D6; 
}
.hero-home {
    width: 75%; 
    height: 100%; 
    padding-left: 72px; 
    padding-right: 72px;
    padding-top:48px;
    padding-bottom: 48px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
    display: inline-flex;
}
.inline-buttons {
    justify-content: flex-start; 
    align-items: center; 
    gap: 24px; 
    display: inline-flex;
}
.button-2 {
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: #E8E7F0; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border: none;
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-block;
    color: #1A135A; 
    font-size: 16px; 
    font-family: Open Sans; 
    font-weight: 600; 
    text-transform: uppercase; 
    word-wrap: break-word;
    cursor: pointer;
}
.bkgdblue {
    background: #E2E6F2;
}
.p-all {
    padding-left: 72px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 72px;
}
.p-rl {
    padding-left: 72px;
    padding-right: 72px;
}
.p-r {
    padding-right: 72px;
}
.pmadjust {
    padding-left: 24px;
}
.pmadjustr {
    padding-right: 24px;
}
.d-f-g {
    display: flex; 
    gap: 24px;
}
.m-b {
    margin-bottom: 24px; 
}
.m-r {
    margin-right: 24px;
}
.m-t {
    margin-top: 24px; 
}
.gap-r {
    padding-right: 24px;
}
.p-b {
    padding-bottom: 24px;
}
.p-equalall {
    padding: 48px;
}
.gap2x {
    gap: 48px;
}
.gap1x {
    gap: 24px;
}
.fc-p {
    color: #565272; 
}
.txta {
    text-align: center;
} 
.aln-t {
    align-self: start;
}
.aln-c {
    align-items: center;
}
.h-full {
    height: 100%;
}
.gform {
    grid-area: form;
}
.width-full {
    width: 100%;
}
.bxtealbdr {
    background: #D1EBEE; 
    padding: 24px; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    word-wrap: break-word; 
    border: 2px solid #ffffff;
}
.bxdktealbdr {
    background: #49C1CE; 
    padding: 24px; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    word-wrap: break-word; 
    border: 2px solid #ffffff;
}
.bxlimebdr {
    background: #EBF3DE; 
    padding: 24px; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    word-wrap: break-word; 
    border: 2px solid #ffffff;
}
.bxdklimebdr {
    background: #B6E668; 
    padding: 24px; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    word-wrap: break-word; 
    border: 2px solid #ffffff;
}
.bxgoldbdr {
    background: #F3EEE5; 
    padding: 24px; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    word-wrap: break-word; 
    border: 2px solid #ffffff;
}
.bxdkgoldbdr {
    background: #EBAA43; 
    padding: 24px; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    word-wrap: break-word; 
    border: 2px solid #ffffff;
}
.a-str {
    align-self: stretch;
}
.a-s {
    align-items: start;
    align-content: start;
}
.bkgdlp {
    background: #E8E7F0;   
}
.bkwht {
    background: #ffffff;
}
.bkgdcgradient {
    background: linear-gradient(90deg, #E2E6F2 0%, #D1EBEE 25%, #E9E0F2 50%, #E2E6F2 76%, #EBF3DE 100%);
}
.button-2:hover {
    background: #C9C7D6; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}
.featured-box {
    width:100%;
    justify-content: space-between; 
    align-items: center;
    gap: 24px;
}
.featured-copy {
    width: auto;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 24px; 
    display: inline-flex;
}
.accordion {
    width: 100%;
    background-color: #B0C6D9;
    color: #1A135A;
    cursor: pointer;
    padding: 24px;
    text-align: left;
    border-top:#1A135A;
    border-bottom: #1A135A;
    border-radius: 8px; 
    outline: none;
    border: none;
    font-size: 20px;
    transition: 0.4s;
}
.accordion:hover {
    background-color: #C9C7D6; 
}
.accordion:after {
    content: '\002B';
    color: #1A135A;
    font-weight: bold;
    float: right;
    margin-left: 24px;
}
  
.on:after {
    content: "\2212";
}
  
.panel {
    width: auto;
    padding: 24px;
    display: none;
    overflow: hidden;
}
.project-card {
    width: 100%; 
    background-color: white;
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 8px; 
    gap: none;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    cursor: pointer;

}
.project-photo {
    align-self: stretch; 
    flex: 1 1 0; 
    object-fit: cover;
    border-radius: 8px; 
}
.project-card-bottom {
    background-color: white;
    width: auto;
    align-self: stretch; 
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px;
    align-items: center; 
    padding: 24px;
}
.project-card-bottom-content {
    justify-content: space-between; 
    align-items: center; 
    display: flex;
}

.grid-3x2 {
    display: grid;
    grid-template-areas:
    'TopLeft TopMiddle TopRight'
    'BottomLeft BottomMiddle BottomRight';
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
}

.grid-3x2tl { grid-area: TopLeft; }
.grid-3x2tm { grid-area: TopMiddle; }
.grid-3x2tr { grid-area: TopRight; }
.grid-3x2bl { grid-area: BottomLeft; }
.grid-3x2bm { grid-area: BottomMiddle; }
.grid-3x2br { grid-area: BottomRight; }

.grid-3x2tl, .grid-3x2tm, .grid-3x2tr, .grid-3x2bl, .grid-3x2bm, .grid-3x2br, .grid-3x3tl, .grid-3x3tm, .grid-3x3tr, .grid-3x3ml, .grid-3x3mm, .grid-3x3mr, .grid-3x3bl, .grid-3x3bm, .grid-3x3br {
    min-width: 362px;
    border: none;
    padding: 24px;
    font-size: 24px;
}

.grid-3x3 {
    display: grid;
    grid-template-areas:
    'TopLeft TopMiddle TopRight'
    'MiddleLeft MiddleMiddle MiddleRight'
    'BottomLeft BottomMiddle BottomRight';
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
}

.grid-3x3tl { grid-area: TopLeft; }
.grid-3x3tm { grid-area: TopMiddle; }
.grid-3x3tr { grid-area: TopRight; }
.grid-3x3ml { grid-area: MiddleLeft; }
.grid-3x3mm { grid-area: MiddleMiddle; }
.grid-3x3mr { grid-area: MiddleRight; }
.grid-3x3bl { grid-area: BottomLeft; }
.grid-3x3bm { grid-area: BottomMiddle; }
.grid-3x3br { grid-area: BottomRight; width: 100%;}

.grid-1x3 {
    display: grid;
    grid-template-areas: 'Left Middle Right';
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
    gap: 24px;
}

.grid-1x3l {grid-area: Left;}
.grid-1x3m {grid-area: Middle;}
.grid-1x3r {grid-area: Right;}

.grid-2x1 {
    display: grid;
    grid-template-areas: 'Left Right';
    grid-template-columns: 50% 50%;
}

.grid-2x1l {grid-area: Left;}
.grid-2x1r {grid-area: Right;}

.img-wfull {
    width:100%;
    height:auto;
}
.image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}
  
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 12px; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #565272;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-top: 12px; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #565272;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}
label {
    color: #1A135A;
    font-size: 16px;
    font-family: Hind;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}
input[type=submit] {
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: #1A135A; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 100px; 
    border: none;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
    color: white;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    text-decoration: none;
}
input[type=submit]:hover {
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: #565272; 
    box-shadow: 0px 2px 4px rgba(51, 76, 92, 0.30); 
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
    font-weight: 700;
}

.projectphoto {
    width: 100%;
    height: auto;
    max-height: 780px;
    /*background-color: #ffffff;*/
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
    align-content: center;
}

.grid-1x4-3bxhalf {
    display: grid;
    grid-template-areas:
    'Left LeftMiddle Right2 Right2';
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}
.grid-1x4-3bxhalfl { grid-area: Left;
    padding: 24px;
    height: 100%;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    display: inline-flex;
    text-align: center; 
    color: #1A135A; 
    word-wrap: break-word;
    background: #E9E0F2; 
}
.grid-1x4-3bxhalflm { grid-area: LeftMiddle; 
    padding: 24px;
    height: 100%;
    background: #D1EBEE; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 12px; 
    display: inline-flex;
}
.grid-1x4-3bxhalfr2 { grid-area: Right2; 
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}

.grid-1x4 {
    display: grid;
    grid-template-areas:
    'Left LeftMiddle RightMiddle Right';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.grid-1x4l { grid-area: Left; 
    padding: 24px;
    height: 100%;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    display: inline-flex;
    text-align: center; 
    color: #1A135A; 
    word-wrap: break-word;
    background: #E9E0F2; 
}
.grid-1x4lm { grid-area: LeftMiddle; 
    padding: 24px;
    height: 100%;
    background: #D1EBEE; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 12px; 
    display: inline-flex;
}
.grid-1x4rm { grid-area: RightMiddle; 
    padding: 24px;
    height: 100%;
    background: #EBF3DE; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 12px; 
    display: inline-flex;
}
.grid-1x4r { grid-area: Right; 
    padding: 24px;
    height: 100%;
    background: #E2E6F2; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 12px; 
    display: inline-flex;
}

.grid-2x1v1x4 {
    display: grid;
    grid-template-areas:
    'Left LeftMiddle';
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.grid-1x3v2thirds {
    display: grid;
    grid-template-areas:
    'Left Left Right';
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}
.grid-1x3v2thirdsl { grid-area: Left; }
.grid-1x3v2thirdsr { grid-area: Right; 
    max-width: 512px;
    height: auto;
    object-fit: cover;
}

.spacer {
    width: 100%; 
    height: 100%; 
    border: 2px #E8E7F0 solid; 
    margin: auto;
}
.wireframes {
    width: auto; 
    height: 100%; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex;
    gap: 24px;
}

.image1 {    
    width: auto;
    height: auto;
    object-fit: cover;
    align-self: start;
}

.grid-bx-prl { grid-area: Left; 
    padding: 24px;
    height: 100%;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 12px; 
    display: inline-flex;
    text-align: center; 
    color: #1A135A; 
    word-wrap: break-word;
    background: #E9E0F2; 
}
.grid-bx-prl-txtaln { grid-area: Left; 
    padding: 24px;
    width: 100%;
    flex-direction: column; 
    justify-content: center; 
    gap: 12px; 
    display: inline-flex;
    text-align: left; 
    color: #1A135A; 
    word-wrap: break-word;
    background: #E9E0F2; 
}
.grid-bx-tl { grid-area: Right;
    padding: 24px;
    height: 100%;
    background: #D1EBEE; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 12px; 
    display: inline-flex;
}
.grid-2x3thirds {
    display: grid;
    grid-template-areas: 'Left Top Top' 'Left Middle Right';
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
}
.grid-2x3thirdsl {grid-area: Left;}
.grid-2x3thirdst {grid-area: Top;}
.grid-2x3thirdsm {grid-area: Middle;}
.grid-2x3thirdsr {grid-area: Right;}

video {
    width: 100%;
    height: auto;
}

.grid-2x2 {
    display: grid;
    width: 100%;
    grid-template-areas:
    'TopLeft TopRight'
    'Bottom Bottom';
    grid-template-columns: 48.5% 48.5%;
    align-items: center;
    gap: 24px;
}
.grid-2x2tl { grid-area: TopLeft; }
.grid-2x2tr { grid-area: TopRight; }
.grid-2x2b { grid-area: Bottom; }

.grid-2x3 {
    display: grid;
    width: 100%;
    grid-template-areas:
    'TL TR'
    'ML MR'
    'BL BR';
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 24px;
}
.grid-2x6 {
    display: grid;
    width: 100%;
    grid-template-areas:
    'TL TR'
    'ML ML'
    'MR BL'
    'BR BR'
    'B2L B2R'
    'B3L B3R';
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto auto auto auto auto;
    align-items: center;
    gap: 24px;
}

.grid-2x3-1 { grid-area: TL; }
.grid-2x3-2 { grid-area: TR; }
.grid-2x3-3 { grid-area: ML; }
.grid-2x3-4 { grid-area: MR; }
.grid-2x3-5 { grid-area: BL; }
.grid-2x3-6 { grid-area: BR; }
.grid-2x3-7 { grid-area: B2L; }
.grid-2x3-8 { grid-area: B2R; }
.grid-2x3-9 { grid-area: B3L; }
.grid-2x3-10 { grid-area: B3R; }

.grid-3x2-bxs {
    display: grid;
    grid-template-areas:
    'TL TM TR'
    'BL BM BR';
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-template-rows: auto auto;
}
.grid-3x2-bxstl { grid-area: TL; }
.grid-3x2-bxstm { grid-area: TM; }
.grid-3x2-bxstr { grid-area: TR; }
.grid-3x2-bxsbl { grid-area: BL; }
.grid-3x2-bxsbm { grid-area: BM; }
.grid-3x2-bxsbr { grid-area: BR; }

.grid-3x4 {
    display: grid;
    grid-template-areas:
    'TL TL TR TR'
    'MLL MLM MRM MRR'
    'BL BL BR BR';
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 24px;
}
.grid-3x4tl { grid-area: TL; }
.grid-3x4tr { grid-area: TR; }
.grid-3x4mll { grid-area: MLL; }
.grid-3x4mlm { grid-area: MLM; }
.grid-3x4mrm { grid-area: MRM; }
.grid-3x4mrr { grid-area: MRR; }
.grid-3x4bl { grid-area: BL; }
.grid-3x4br { grid-area: BR; }

@media only screen and (min-width: 993px) and (max-width: 1200px) {

}
@media only screen and (min-width: 768.1px) and (max-width: 1126px) {
    h1 {
        font-size: 60px; 
        font-weight: 700; 
        line-height: 70px; 
    }
    h2 {
        font-size: 36px; 
        font-weight: 600; 
        line-height: 40px; 
    }
    h3 {
        font-size: 30px; 
        font-weight: 600; 
        line-height: 35px;
    }
    h4 {
        font-size: 24px; 
        font-weight: 400; 
    }
    h5 {
        font-size: 20px; 
        font-weight: 500; 
        line-height: 24px; 

    }
    h6 {
        font-size: 48px;  
        font-weight: 700; 
        line-height: 55px; 

    } 
    p {
        font-size: 16px; 
        font-weight: 400; 
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8.5rem;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .footer {
        height: auto;
    }
    .footerbar {
        display: grid;
    }
    div.logo {
        display: none;
    }
    .accordion {
        display: none;
    }
    .hero-home {
        width: 100%; 
        height: 100%; 
    }

    .grid-3x2 {
        grid-template-columns: 50% 50%;
        grid-template-rows:  auto auto auto;
        grid-template-areas:
        'TopLeft TopMiddle'
        'TopRight BottomLeft' 
        'BottomMiddle BottomRight';
    }
    .grid-3x2tl, .grid-3x2tm, .grid-3x2tr, .grid-3x2bl, .grid-3x2bm, .grid-3x3tl, .grid-3x3tm, .grid-3x3tr, .grid-3x3ml, .grid-3x3mm, .grid-3x3mr, .grid-3x3bl, .grid-3x3bm  {
        border: none;
        padding: 24px;
        font-size: 24px;
    }
    .grid-3x2br {
        display: none;
    }
    .grid-3x3br {
        display: none;
    }
    .grid-3x3 {
        display: grid;
        grid-template-areas:
        'TopLeft TopMiddle' 
        'TopRight MiddleLeft' 
        'MiddleMiddle MiddleRight'
        'BottomLeft BottomMiddle';
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
    }
    .grid-2x1 {
        display: grid;
        grid-template-areas:
        'Left' 
        'Right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

    }
    .grid-1x3 {
        display: grid;
        grid-template-areas: 'Left' 'Middle' 'Right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .grid-1x4 {
        display: grid;
        grid-template-areas:
        'Left LeftMiddle'
        'RightMiddle Right';
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
    .grid-1x4-3bxhalf {
        display: grid;
        grid-template-areas:
        'Left LeftMiddle' 
        'Right2 Right2';
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
    .grid-1x3v2thirds {
        display: grid;
        grid-template-areas:
        'Left'
        'Right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .grid-2x3thirds {
        display: grid;
        grid-template-areas: 
        'Left Top' 
        'Left Middle' 
        'Left Right';
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
}


@media only screen and (max-width:768px) {
    .p-all {
        padding-left: 48px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
    .p-rl {
        padding-left: 48px;
        padding-right: 48px;
    }
    .dply {
        display: none;
    }
    .breadcrumb {
        display: none;
    }
    h1 {
        font-size: 60px; 
        font-weight: 700; 
        line-height: 70px; 

    }
    h2 {
        font-size: 36px; 
        font-weight: 600; 
        line-height: 40px; 
    }
    h3 {
        font-size: 30px; 
        font-weight: 600; 
        line-height: 35px;
    }
    h4 {
        font-size: 24px; 
        font-weight: 400; 
    }
    h5 {
        font-size: 20px; 
        font-weight: 500; 
        line-height: 24px; 

    }
    h6 {
        font-size: 48px;  
        font-weight: 700; 
        line-height: 55px; 

    } 
    p {
        font-size: 16px; 
        font-weight: 400; 
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8.5rem;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-logo {
        width: 275px;
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    div.logo {
        display: none;
    }
    .footer {
        height: auto;
        display: grid;
    }
    .footerbar {
        display: grid;
    }
    .contact-column {
        display: grid;
    }
    .hero-home {
        width: 100%; 
        height: 100%; 
    }
    .accordion {
        display: none;
    }

    .grid-3x2 {
        grid-template-columns: 1fr;
        grid-template-rows:  auto auto auto auto auto auto;
        grid-template-areas:
        'TopLeft'
        'TopMiddle'
        'TopRight'
        'BottomLeft' 
        'BottomMiddle' 
        'BottomRight';
    }
    .grid-3x2tl, .grid-3x2tm, .grid-3x2tr, .grid-3x2bl, .grid-3x2bm, .grid-3x3tl, .grid-3x3tm, .grid-3x3tr, .grid-3x3ml, .grid-3x3mm, .grid-3x3mr, .grid-3x3bl, .grid-3x3bm {
        min-width: 362px;
        border: none;
        padding: 24px;
        font-size: 24px;
    }
    .grid-3x2br {
        display: none;
    }
    .grid-3x3br {
        display: none;
    }
    .grid-3x3 {
        display: grid;
        grid-template-areas:
        'TopLeft'
        'TopMiddle'
        'TopRight'
        'MiddleLeft' 
        'MiddleMiddle' 
        'MiddleRight'
        'BottomLeft' 
        'BottomMiddle' 
        'BottomRight';
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-columns: 1fr;
    }
    .grid-1x3 {
        display: grid;
        grid-template-areas: 'Left' 'Middle' 'Right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .grid-2x3thirds {
        display: grid;
        grid-template-areas: 
        'Left' 'Top' 'Middle' 'Right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .grid-2x1 {
        display: grid;
        grid-template-areas:
        'Left'
        'Right';
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .grid-1x4 {
        display: grid;
        grid-template-areas:
        'Left' 
        'LeftMiddle'
        'RightMiddle' 
        'Right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .grid-1x4-3bxhalf {
        display: grid;
        grid-template-areas:
        'Left' 'LeftMiddle' 
        'Right2';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .grid-1x3v2thirds {
        display: grid;
        grid-template-areas:
        'Left'
        'Right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .grid-2x1v1x4 {
        display: grid;
        grid-template-areas:
        'Left' 
        'LeftMiddle';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .grid-2x2 {
        display: grid;
        width: 100%;
        grid-template-areas:
        'TopLeft' 
        'TopRight'
        'Bottom';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .grid-2x3 {
        display: grid;
        grid-template-areas:
        'TL' 
        'TR'
        'ML'
        'MR' 
        'BL'
        'BR';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .grid-2x6 {
        display: grid;
        grid-template-areas:
        'TL' 
        'TR'
        'ML'
        'MR' 
        'BL'
        'BR'
        'B2L' 
        'B2R'
        'B3L' 
        'B3R';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    }
    .grid-3x4 {
        display: grid;
        grid-template-areas:
        'TL' 
        'TR'
        'MLL' 
        'MLM' 
        'MRM' 
        'MRR'
        'BL' 
        'BR';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }
    .grid-3x2-bxs {
        display: grid;
        grid-template-areas:
        'TL' 
        'BL'
        'TM' 
        'BM'
        'TR'
        'BR';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
    }
}